api_platform:
    title: "CRM Projectil-Sogrepress"
    description: "Outil de gestion commeriale pour l'agence de communication Projectil-Sogepress"
    version: "1.0.0"
    mapping:
        paths: ['%kernel.project_dir%/src/Entity']
    patch_formats:
        json: ['application/merge-patch+json']
    swagger:
        versions: [3]
        api_keys:
            apiKey:
                name: Authorization
                type: header
    show_webby: false
    defaults:
        pagination_items_per_page: 20
